<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display API Data</title>

    <!-- ICONSCOUT CDN -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />

    <!-- GOOGLE FONT -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- STYLES -->
    <link rel="stylesheet" href="../assets/css/templates.css" />

    <!-- SCRIPTS -->
    <script src="../assets/js/scripts.js" defer></script>
  </head>
  <body>
    <header>
      <h1><a href="../index.html">Star Wars</a></h1>
      <nav>
        <ul>
          <li class="nav-home"><a href="../index.html">Home</a></li>
          <li class="nav-people">
            <a href="../templates/peoples.html">People</a>
          </li>
          <li class="nav-film"><a href="../templates/films.html">Films</a></li>
          <li class="nav-vehicle">
            <a href="../templates/vehicles.html">Vehicles</a>
          </li>
        </ul>
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
      </nav>
    </header>
    <main class="container">
      <section id="people-view"></section>
    </main>
    <footer>&copy;2022 || <a href="http://azimulhuq.me">Azimul Huq</a></footer>
  </body>
</html>
