* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #E8A32C;
    --color-secondary: #B48355;
    --color-secondary-dark: #7d5b3b;
    --color-white: #FFF;
    --color-light: #F7F2EE;
    --color-black: #000;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-danger: #DC3545;
    --color-bg: #00263D;
    --color-bg1: #193B50;
    --color-bg2: #001e30;
    --color-bg3: #D1BEAA;
    --color-bg4: hsla(38, 80%, 54%,.85);

    --font-family-open-sans: 'Open Sans', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-lato: 'Lato', sans-serif;

    --con-width-lg: 84%;
    --con-width-md: 90%;
    --con-width-sm: 94%;

    --transition: all 400ms ease-in-out;
}

body {
    font-family: var(--font-family-open-sans);
    background-color: var(--color-bg);
    min-height: calc(480px + 30vh);   
    display: flex; 
    flex-direction: column;      
}

.container {
    flex-grow: 1;
}

h1, h2, h3, h4, h5 {
    line-height: 1.7;
    letter-spacing: 1px;
}

a {
    color: var(--color-light);
}

a:hover {
    color: var(--color-bg3);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-secondary);
    color: var(--color-white);
}

/* ################# Header ################# */

header {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family-roboto);
    background-color: transparent;   
    color: var(--color-white);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;    
}

/* Change navbar style on scroll using javascript */
.window-scroll {
    background: var(--color-bg2);
    box-shadow: 0 1rem 2rem rgba(0, 30, 48, .55);
}

header h1 a {
    text-transform: uppercase; 
    font-size: 2.8rem;   
    color: var(--color-white);    
    transition: var(--transition);  
}

header h1 a:hover {
    font-size: 3rem;
    color: var(--color-primary);    
}

header button {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 4rem;  
}

nav ul li a {
    text-transform: uppercase; 
    color: var(--color-primary);
    font-size: 1.4rem;
    transition: var(--transition);    
}

nav ul li a:hover {
    color: var(--color-white);
    font-size: 1.6rem;     
}

nav ul li a.active {
    color: var(--color-white);
    padding-bottom: 0.7rem;
    border-bottom: 1px solid var(--color-white);
    border-bottom-width: 3px;
    transition: var(--transition);
}

/* ################# Section ################# */

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-around;    
    margin: 1rem 0;
    padding: 15rem 8rem;
    min-height: calc(480px + 40vh);
    line-height: 1.2;
}

section h2 {
    margin: 4rem auto 6rem auto;
    font-family: var(--font-family-lato);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    flex-basis: 100%;
    color: var(--color-secondary);
    text-transform: uppercase;
}

section h2:before {
    content: "";
    position: absolute;
    left: 34vw;
    height: 0.5rem;
    width: 9%;
    margin: 1rem 0;
    background: var(--color-bg4);
    z-index: 1;
}

section h2:after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 9%;
    margin: 1rem 3.5vw;
    background: var(--color-bg4);
    z-index: 1;
}

section::after {
    height: 0;
    width: 47%;
    content: "";
}

article h3 {
    font-size: 1.7rem;
}

article p {
    line-height: 1.9rem;
    font-size: 1.3rem;
}

article p strong {
    color: var(--color-primary);
}

.view-all {
    width: 21%;    
    align-self: center;   
}

.view-all p {
    text-align: center;   
}

.view-all a {
    color: var(--color-white);
    font-size: 1.5rem;   
    border: 2px solid var(--color-white);
    padding: 1rem;
}

.view-all a:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);   
}

/* ################# Peoples Page ################# */

#people {
    background-color: var(--color-bg);   
}

#render-people::after {
    height: 0;
    width: 21%;
    content: "";
}

.people {
    width: 21%;
    height: 32.5rem;
    margin: 1.5rem 0;
    padding: 2rem;
    border: 2px solid var(--colo-bg3);
    border-radius: .5rem;   
    color: var(--color-secondary);  
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 1.1rem var(--color-bg3); /* <-- 1.1rem spread radius */
}

.people h3 {    
    text-align: center; 
    margin: 0;
    padding: 1rem 0;
    background-color: var(--color-bg3); 
    color: var(--color-white);
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 1.1rem var(--color-bg3); /* <-- 1.1rem spread radius */
}

.people p {
    margin-inline-start: .5rem;
}


/* ################# Films Page ################# */

.movie {
    width: 30%;
    height: 109.5rem;
    margin: 1.5rem 0;
    padding: 2rem;
    border: 2px solid var(--color-bg3);
    border-radius: .5rem;    
    color: var(--color-secondary);
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 1.1rem var(--color-bg3); /* <-- 1.1rem spread radius */
}

.movie h3 {      
    text-align: center; 
    margin: 0;
    padding: 1rem 0;
    background-color: var(--color-bg3); 
    color: var(--color-white);
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 1.1rem var(--color-bg3); /* <-- 1.1rem spread radius */
}

.movie p {
    margin-inline-start: .5rem;
}

/* ################# Vehicles Section ################# */

#render-vehicle {
    background-color: var(--color-bg1);
}

.vehicle {
    width: 21%;
    height: 32.5rem;
    margin: 1.5rem 0;
    padding: 2rem;
    border: 2px solid var(--colo-bg3);
    border-radius: .5rem;   
    color: var(--color-secondary);  
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 1.1rem var(--color-bg3); /* <-- 1.1rem spread radius */
}

.vehicle h3 {   
    text-align: center; 
    margin: 0;
    padding: 1rem 0;
    background-color: var(--color-bg3); 
    color: var(--color-white);
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 1.1rem var(--color-bg3); /* <-- 1.1rem spread radius */
}

.vehicle p {
    margin-inline-start: .5rem;
}

/* ################# Vehicles views ################# */

#vehicle-view, #film-view, #people-view {
    padding: 13rem 8rem;
}

#vehicle-view h2:before, #film-view h2:before, #people-view h2:before {
    left: 31.3vw;
    margin: 1.4rem 0;
}

#vehicle-view h2:after, #film-view h2:after, #people-view h2:after {
    margin: 1.4rem 3.5vw;
}

#vehicle-view .vehicle, #film-view .movie, #people-view .people {
    flex-basis: 60%;
    margin: 0 auto;
    padding: 1rem;
}

#film-view .movie {
    height: 78.5rem;
}

#vehicle-view .vehicle p, #film-view .movie p, #people-view .people p {
    padding: 1rem;
}

/* ################# Footer ################# */

footer {
    text-align: center;
    padding: 1rem 3rem;
    font-family: var(--font-family-roboto); 
    background: var(--color-bg2);  
    color: var(--color-light);
}

footer a {   
    color: var(--color-primary); 
    transition: var(--transition);       
}

footer a:hover {
    font-size: 1.2rem;
}